/* CSS for the modal which displays all the task information */

.left-panel{
    width: 100%;
    height: auto;
    overflow: auto;
    padding: 1rem 0 1rem 0;
    flex-direction: column;
    gap: 1.5rem;
}

.right-panel{
    width: 100%;
    min-width: 250px;
    max-width: 300px;
    flex-direction: column;
    gap: 1.5rem;
}

.edit-task-container{
    width: 100%;
    height: auto;
    padding: .5rem;
    border-radius: .25rem;
}

.edit-task-input{
    padding: .2rem;
    width: 100%;
    max-width: 300px;
    height: fit-content;
    border: solid 1px transparent;
    cursor: pointer;
}

.select-input-container{
    width: 100%;
    height: auto;
    gap: 0.5rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.title-input-container{
    width: auto;
    height: auto;
    gap: 0.5rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.task-select{
    padding: .5rem;
    width: 100%;
    max-width: 200px;
    height: fit-content;
    border: solid 1px #dadbdd;
    cursor: pointer;
}

.edit-task-input:focus{
    border: solid 1px black;
}

.edit-task-container:hover{
    background-color: #c5d0e2;
}

.add-comment-container{
    height: auto;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
}

.add-comment-controller{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem 0 0;
}

.modal-comments-container{
    height: auto;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}

.comment-container{
    width: 100%;
    height: auto;
    gap: 1rem;
    align-items: flex-start;
    border: solid 1px grey;
    border-radius: 1rem;
    padding: .8rem;
}

.comment{
    height: auto;
    width: 100%;
    border: solid 1px transparent;
    outline: none;
}
.comment:hover{
   cursor: pointer;
}

.comment:disabled{
    color:  black;
    background-color: transparent;
}

.error-field-icon{
    height: 25px;
    width: 25px;
    color:  rgb(240, 68, 68);
    border: solid 1px rgb(240, 68, 68);
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
    align-self: center;
    justify-self: flex-start;
}

.error-field-input{
    border: solid 1px rgb(240, 68, 68);
}

.error-field-label{
    color:rgb(240, 68, 68);
    font-weight: bold;
}

/* ------------------------------ */

/* CSS for special properties - must be present on every CSS file */
.hide{
    display: none;
}

.invisible{
    visibility: 0;
}

/* ------------------------------ */